.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 60px;
    background-color: #2C3136;
    color: #fafafa;
    width: 100%;
}
.footer-logo {
    margin-bottom: 16px !important;
}
.footer .nav-link {
    color: #fafafa !important;
    padding-left: 30px;
    padding-right: 30px;
}
.logged-footer {
    /* padding-left: 320px; */
}
@media (max-width: 1199px) {
    .logged-footer {
        padding-left: 0px;
    }
}
@media (max-width: 650px) {
    .footer .nav-link {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 576px) {
    .footer .nav {
        flex-direction: column;
    }
}