.signup-container {
    margin-top: -109px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.signup-container .page-content {
    display: flex;
}
.signup-container .page-content .page-left-content,
.signup-container .page-content .page-right-content {
    flex: 1;
    padding-top: 150px;
    padding-bottom: 40px;
    min-height: calc(100vh - 252px);
}
.signup-container .page-content .page-left-content {
    background-color: #F4F7FA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-container .page-content .page-left-content img {
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
    height: auto;
}
.signup-container .page-content .page-right-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}
.signup-container .page-content .page-right-content .page-title {
    font-family: MontserratBold;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #005492;
}
.signup-container .page-content .signup-form {
    max-width: 500px;
    width: 100%;
    padding: 15px;
}
.signup-container .form-control {
    padding: .75rem 1.0rem;
    background-color: #F5F6F8;
}
.signup-container .btn {
    transition: all .2s ease;
    padding: .75rem;
    background: linear-gradient(90deg, #0191e6 0%, #014973 100%);
}
.signup-container .btn:hover {
    box-shadow: 0px 3px 4px #015180;
}
.signup-container .btn:active {
    background: linear-gradient(90deg, #032e47 0%, #0a4f77 100%) !important;
}
.google-signup-btn {
    color: #005492!important;
    background: white !important;
    font-size: 1rem !important;
    border-radius: 5px !important;
    padding: 10px !important;
    border-color: #005492;
}
.signup-container .google-signup-btn:active {
    background: linear-gradient(85deg, #e9e9e9 31%, #282424 107%) !important
}
.google-signup-btn > img {
    vertical-align: sub;
    margin-right: 10px;
}
@media (max-width: 992px) {
    .signup-container .page-content {
        display: flex;
        flex-direction: column;
    }
    .signup-container .page-content .page-left-content {
        display: none;
    }
    .signup-container .page-content .page-right-content {
        width: 100%;
        min-height: auto;
        padding-top: 120px;
    }
}
@media (max-width: 576px) {
    .signup-container .page-content .page-right-content {
        padding-top: 120px;
        padding-bottom: 20px;
    }
}